
{% extends 'base.html' %}

{% block search %}
<div class="container">
    <div class="row">
        <div class="col-lg-2 "></div>
        <div class="col-lg-8" style="background-color:#fafafa;">
          <!--  <p class="lead"><h4>{{ leeftijd }} ploegen vrij op {{ datum }}, klik op "prov" om de ploegen te zien per provincie:</h4> </p><br>-->
            <p class="lead"><h4>{{text}}</h4></p><br>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div> 
<p></p>
<div class="container">
    <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{leeftijd}} prov Antwerpen</a>
                </h4>
            </div>                        
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Competitie</th>
                                <th>Ploeg</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in antwerpen %}
    	
                                {% for x in value %}
        	                       <tr>
        	                           <td> {{ key }} </td>
        	                           <td> {{ x }} </td>
        	                       </tr>
                                {% endfor %}
    	
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">{{leeftijd}} prov Brabant</a>
                </h4>
            </div>                        
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Competitie</th>
                                <th>Ploeg</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in brabant %}
        
                                {% for x in value %}
                                   <tr>
                                       <td> {{ key }} </td>
                                       <td> {{ x }} </td>
                                   </tr>
                                {% endfor %}
        
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">{{leeftijd}} prov Limburg</a>
                </h4>
            </div>                        
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Competitie</th>
                                <th>Ploeg</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in limburg %}
        
                                {% for x in value %}
                                   <tr>
                                       <td> {{ key }} </td>
                                       <td> {{ x }} </td>
                                   </tr>
                                {% endfor %}
        
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">{{leeftijd}} prov Oost Vlaanderen</a>
                </h4>
            </div>                        
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Competitie</th>
                                <th>Ploeg</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in oostvlaanderen %}
        
                                {% for x in value %}
                                   <tr>
                                       <td> {{ key }} </td>
                                       <td> {{ x }} </td>
                                   </tr>
                                {% endfor %}
        
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">{{leeftijd}} West Vlaanderen</a>
                </h4>
            </div>                        
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Competitie</th>
                                <th>Ploeg</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in westvlaanderen %}
        
                                {% for x in value %}
                                   <tr>
                                       <td> {{ key }} </td>
                                       <td> {{ x }} </td>
                                   </tr>
                                {% endfor %}
        
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">{{leeftijd}} Nationaal & Inter Provinciaal</a>
                </h4>
            </div>                        
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Competitie</th>
                                <th>Ploeg</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in nationaal %}
        
                                {% for x in value %}
                                   <tr>
                                       <td> {{ key }} </td>
                                       <td> {{ x }} </td>
                                   </tr>
                                {% endfor %}
        
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-lg-2"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/friendly/">Nieuwe opzoeking ? Klik hier</a> 
        </div>
    </div>
</div> 
{% endblock %}